@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@700&display=swap");

body {
  background-color: #b5bafe;
  color: #3b1f99;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 4rem;
  margin: 0;
}
h2,
h3,
.logo {
  color: #401899;
  font-weight: 700;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0rem;
}
header {
  /*margin-bottom: 2rem;
  padding: 2rem 0;*/
  background-image: url(../images/material/decorative-clouds_with-shadow.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 206px;
}
.container {
  max-width: 1000px;
  padding: 2rem;
}

.a-no-decoration {
  text-decoration: none;
}

a .logo {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  text-decoration: none;
}

.fa-solid.fa-bolt-lightning {
  color: #fcd470;
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 8px;
}

.submit-button {
  margin-bottom: 2rem;
}

.search-form {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  row-gap: 1rem;
}

.flex-item {
  align-self: auto;
  flex: none;
}

.search-input {
  margin-right: 1rem;
  max-width: 70%;
}
.search-input::placeholder {
  color: #9096a5;
}

.form-control {
  background-color: rgb(255 255 255);
  border: 2px solid rgba(181, 186, 254, 0.5);
}

.form-control-lg {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.form-control:focus {
  background-color: rgb(255 255 255);
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(111, 152, 252, 0.25);
  outline: 0;
}

.main-btn {
  background-color: rgba(255, 125, 189, 1);
  border: none;
  border: 1px solid rgba(255, 125, 189, 1);
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem 3rem;
  transition: all 200ms ease-in-out;
}

.main-btn:hover {
  background-color: rgba(255, 125, 189, 0.8);
  border: 1px solid rgba(255, 125, 189, 0.8);
  transition: all 200ms ease-in-out;
}

main {
  border-radius: 32px;
  padding: 1rem;
}

.current-weather-container {
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.current-weather-icon {
  opacity: 1;
  position: absolute;
  right: 4rem;
  top: 6rem;
  z-index: -1;
}

.current-date {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1rem;
  opacity: 0.7;
  text-transform: uppercase;
}

p #weather-description::first-letter {
  text-transform: capitalize;
}

a {
  color: #6f98fc;
  text-decoration: none;
}

h1,
.temperature,
#weather-description {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.temperature {
  font-size: 9rem;
  line-height: 9rem;
}

sup {
  font-size: 6rem;
  font-weight: bold;
  top: -2rem;
}

/* Current weather extra info */
.child-items h4 {
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}
ul.column-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.child-items p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin: 0px;
  padding-top: 0.5rem;
}
.child-items h4,
.child-items p {
  color: #fff;
  text-align: left;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.main-container {
  align-content: normal;
  align-items: normal;
  background-color: #9a9ffe;
  border-radius: 1.5rem;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: normal;
}
.column-container {
  align-content: normal;
  align-items: normal;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
}
.row-container {
  align-content: normal;
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  padding: 2rem;
}

.row-container .child-items {
  align-self: auto;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0px;
  order: 0;
}

.row-container .child-items:nth-child(1) {
  padding-right: 1rem;
}

img.child-items {
  width: 2.5rem;
}

.current-weather-data {
  font-weight: 700;
}
/*
.list-wrap li strong {
  color: #435b97;
}*/

/* Forecast week section */

.row.week {
  padding: 2rem 1rem 1rem;
}

a.nav-link.active.meteo-pill {
  background-color: transparent;
  border-bottom: 3px solid #fcd470;
  border-radius: 0;
  color: #3b1f99;
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.other-optio:is(:hover, :focus),
.nav-link:focus,
.nav-link:hover,
.nav-pills .nav-link {
  border-radius: 0;
  color: #3b1f99;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}

.other-optio:is(:active),
.nav-link:active {
  border-bottom: 3px solid #fcd470;
}

.weather-forecast {
  background-color: #9a9ffe;
  border-radius: 24px;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  padding: 2rem 1rem;
  text-align: center;
}

.weather-forecast .forecast-time {
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.weather-forecast .weather-forecast-icon {
  font-size: 2.5rem;
  margin: 1rem auto;
}

.weather-forecast .forecast-temperature {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.weather-forecast .forecast-temperature-min {
  margin-left: 0.75rem;
  opacity: 0.6;
}

/*
i.fa-solid.fa-cloud-sun.current-weather-icon {
  animation: bigger 2s alternate infinite ease-in-out;
}

@keyframes bigger {
  0% {
    color: #2c3d64;
  }
  100% {
    color: #6f98fc;
  }
}
*/

footer {
  background-color: #3b1f99;
  color: #fff;
  font-size: 0.75rem;
  margin: 3rem auto 0;
  padding: 2rem;
  text-align: center;
}

footer a {
  color: #fff;
}

footer a:hover {
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}

@media all and (max-width: 768px) {
  a .logo {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .fa-solid.fa-bolt-lightning {
    font-size: 1.2rem;
    margin-right: 8px;
  }

  .search-form {
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 0;
  }

  .search-input {
    margin: 0 auto;
    max-width: 100%;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-image: url("../images/circle-xmark-solid.svg");
    cursor: pointer;
    opacity: 0.5;
  }

  .main-btn {
    width: 100%;
  }
  .main-container {
    flex-direction: column;
    width: 100%;
  }
  .row-container {
    justify-content: center;
    padding: 2rem 1rem;
  }
}
